<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d59ed467-b681-4597-b99d-9714237cefc1" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d59ed467-b681-4597-b99d-9714237cefc1fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
